body {
	color: #333;
	font: 12px Verdana;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	text-align: center;
	background: #eee;
	margin: 0;
}

a {
	color: #48c;
}
a:hover {
	color: #4af;
}
a:visited {
	color: #333;
}

hr {
	clear: both;
	border-top: 1px dashed #aaa;
	border-bottom: 1px dashed #fff;
	margin: 5px 0;
	width: 100%;
}

.img_frame, #url, #navibar {
	background: #fff;

	border-radius: 4px;

	box-shadow: 0 1px 3px #777;
	padding: 5px;
}

.img_frame {
	margin: 20px auto;
	display: inline-block;
}
.img_frame div {
	padding-bottom: 5px;
}

#url {
	width: 100%;
	left: 0;
}

.page {
	cursor: move;
}

#navibar {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5000;
	text-align: left;
}