<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComicSpider.Properties.Settings.AppConnectionString"
            connectionString="data source=App.db" providerName="System.Data.SQLite" />
        <add name="ComicSpider.Properties.Settings.AppConnectionString1"
            connectionString="data source=E:\CSharp\ComicSpider\ComicSpider\bin\Debug\App.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>